<template>
  <div class="board">
    <div class="row" :key="rowIdx" v-for="(row, rowIdx) of this.world">
      <button class='cell' :key="colIdx" v-for="(col, colIdx) of row"
              @click="clickCell(rowIdx, colIdx)">{{ col }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import {
  play, done, render, generateRandomGame,
} from '@/services/minesweep';

import {
  Component, Vue,
} from 'vue-property-decorator';

@Component
export default class Minesweep extends Vue {
  mines: number[][] = generateRandomGame(10, 2);

  get world(): string[][] {
    return render(this.mines);
  }

  clickCell(x: number, y: number) {
    this.mines = play(this.mines, x, y);
    if (done(this.mines)) {
      alert('Game is donzos');
    }
  }
}

</script>

<style scoped>
  .row {
    margin: 0;
    padding: 0;
    max-height: 3rem;
  }

  .cell {
    border: 1px solid black;
    font-size: 2rem;
    height: 3rem;
    outline: none;
    width: 3rem;
  }
</style>
