<template>
  <div id="app">
    <Minesweep/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Minesweep from '@/components/Minesweep.vue';

@Component({
  components: {
    Minesweep,
  },
})
export default class App extends Vue {
}
</script>

<style lang="scss">
  * {
    padding: 0;
    margin: 0;
  }

  #app {
    text-align: center;
    margin-top: 60px;
  }
</style>
